In [1]:
# Further analysis of the humaneval coding benchmark
import pandas as pd

In [2]:
attempt_df = pd.read_json('../human-eval/data/attempt/attempt_samples_all.jsonl_results.jsonl', lines=True)
mistake_df = pd.read_json('../human-eval/data/mistake/mistake_samples_all.jsonl_results.jsonl', lines=True)
use_attemtpt_df = pd.read_json('../human-eval/data/use_attempt/use_attempt_samples_all.jsonl_results.jsonl', lines=True)
use_mistake_df = pd.read_json('../human-eval/data/use_mistake/use_mistake_samples_all.jsonl_results.jsonl', lines=True)

In [3]:
attempt_df.head()

,task_id,completion,result,passed
0,HumanEval/0,for i in range(len(numbers)):\n for...,passed,True
1,HumanEval/0,for i in range(len(numbers)):\n for...,passed,True
2,HumanEval/0,for i in range(len(numbers)):\n for...,passed,True
3,HumanEval/0,for i in range(len(numbers)):\n for...,passed,True
4,HumanEval/0,for i in range(len(numbers)):\n for...,passed,True

In [4]:
def any_passed_df(df):

    task_df = df.groupby('task_id')['passed'].any().reset_index()
    # Rename the 'passed' column to 'any_passed'

    return task_df

In [20]:
attempt_tasks_df = any_passed_df(attempt_df)
mistake_tasks_df = any_passed_df(mistake_df)
use_attemtpt_tasks_df = any_passed_df(use_attemtpt_df)
use_mistake_tasks_df = any_passed_df(use_mistake_df)

In [9]:
attempt_tasks_df.head()

         task_id  passed
0    HumanEval/0    True
1    HumanEval/1    True
2   HumanEval/10    True
3  HumanEval/100    True
4  HumanEval/101    True

In [6]:
print(attempt_tasks_df["passed"].value_counts())
print("-------------")
print(use_mistake_tasks_df["passed"].value_counts())

passed
True     146
False     18
Name: count, dtype: int64
-------------
passed
True     150
False     14
Name: count, dtype: int64

In [23]:
# Filter rows where 'passed' is False
attempt_false = attempt_tasks_df[attempt_tasks_df['passed'] == False]
use_mistake_false = use_mistake_tasks_df[use_mistake_tasks_df['passed'] == False]

attempt_false = attempt_false.rename(columns={'passed': 'passed_attempt'})
use_mistake_false = use_mistake_false.rename(columns={'passed': 'passed_use_mistake'})

# Merging the dataframes
merged = pd.merge(attempt_false, use_mistake_false, on='task_id', how='outer')

# Fill NaN values with True
merged['passed_attempt'].fillna(True, inplace=True)
merged['passed_use_mistake'].fillna(True, inplace=True)

# Display the resulting dataframe
print(merged)

          task_id  passed_attempt  passed_use_mistake
0   HumanEval/108           False               False
1   HumanEval/115           False                True
2   HumanEval/119           False               False
3   HumanEval/125           False               False
4   HumanEval/130           False               False
5   HumanEval/132           False               False
6   HumanEval/133           False                True
7   HumanEval/135           False                True
8   HumanEval/140           False                True
9   HumanEval/145           False               False
10  HumanEval/151           False                True
11  HumanEval/163           False               False
12   HumanEval/36           False                True
13   HumanEval/41           False                True
14    HumanEval/6           False                True
15   HumanEval/81           False                True
16   HumanEval/84           False                True
17   HumanEval/93           False                True
18  HumanEval/110            True               False
19  HumanEval/120            True               False
20  HumanEval/126            True               False
21  HumanEval/129            True               False
22  HumanEval/137            True               False
23   HumanEval/32            True               False
24   HumanEval/39            True               False