In [1]:
# Further analysis of the humaneval coding benchmark
import pandas as pd

In [20]:
attempt_df = pd.read_json('../human-eval/data/attempt/attempt_samples_all.jsonl_results.jsonl', lines=True)
mistake_df = pd.read_json('../human-eval/data/mistake/mistake_samples_all.jsonl_results.jsonl', lines=True)
use_attemtpt_df = pd.read_json('../human-eval/data/use_attempt/use_attempt_samples_all.jsonl_results.jsonl', lines=True)
use_mistake_df = pd.read_json('../human-eval/data/use_mistake/use_mistake_samples_all.jsonl_results.jsonl', lines=True)

In [11]:
attempt_df.head()

,task_id,completion,result,passed
0,HumanEval/0,for i in range(len(numbers)):\n for...,passed,True
1,HumanEval/0,for i in range(len(numbers)):\n for...,passed,True
2,HumanEval/0,for i in range(len(numbers)):\n for...,passed,True
3,HumanEval/0,for i in range(len(numbers)):\n for...,passed,True
4,HumanEval/0,for i in range(len(numbers)):\n for...,passed,True

In [19]:
def any_passed_df(df):

    task_df = df.groupby('task_id')['passed'].any().reset_index()
    # Rename the 'passed' column to 'any_passed'

    return task_df

In [21]:
attempt__tasks_df = any_passed_df(attempt_df)
mistake_tasks_df = any_passed_df(mistake_df)
use_attemtpt_tasks_df = any_passed_df(use_attemtpt_df)
use_mistake_tasks_df = any_passed_df(use_mistake_df)

In [28]:
print(attempt__tasks_df["passed"].value_counts())
print("-------------")
print(use_mistake_tasks_df["passed"].value_counts())

passed
True     146
False     18
Name: count, dtype: int64
-------------
passed
True     150
False     14
Name: count, dtype: int64

In [26]:
# See if any of the tasks attempt passed use_mistake failed

passed
True     150
False     14
Name: count, dtype: int64